<div>
    <span>
      <span style="padding-top: 2px; padding-bottom: 2px; padding-right: 2px; padding-left: 4px; margin-right: 8px; border-radius: 3px; font-size: 11px; background-color: #ff4910; color: #fff;">
        <%= view.user.id %>
      </span>
      <% if view.user.respond_to?(:email_decrypted) %>
        <%= view.user.email_decrypted %>
      <% else %>
        <%= view.user.email %>
      <% end %>
    </span>
</div>
